body {
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: "Ubuntu", sans-serif;
}

.right-number {
	float: right;
	padding: 10px;
	font-size: large;
	color: #008ada;
	font-weight: bold;
}

.center {
	text-align: center;
}

.tcpa {
	font-size: small;
	font-weight: lighter;
	max-width: 100%;
}

.more {
	border-radius: 20px;
	background-color: white;
	min-height: 700px;
	position: relative;
	min-width: 300px;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
}

/*MOTO G4*/
@media screen and (max-width: 600px) {
	/*PAGE 1*/
	h4 {
		font-size: 14px !important;
	}
}

/*GALAXY S5*/
@media screen and (max-width: 360px) {
	/*PAGE 1*/
	h4 {
		font-size: 20px !important;
	}
}

/*PIXEL 2*/
@media screen and (max-width: 411px) {
	/*PAGE 1*/
	h4 {
		font-size: 22px !important;
	}
}

/*PIXEL 2 XL*/
@media screen and (max-width: 320px) {
	/*PAGE 1*/
	h4 {
		font-size: 19px !important;
	}
}

/*IPHONE 5/SE*/
@media screen and (max-width: 414px) {
	/*PAGE 1*/
	h4 {
		font-size: 22px !important;
	}
}

/*SURFACE DUO*/
@media screen and (max-width: 450px) {
	/*PAGE 1*/
	h4 {
		font-size: 22px !important;
	}
}

/*GALAXY FOLD*/
@media screen and (max-width: 280px) {
	/*PAGE 1*/
	h4 {
		font-size: 16px !important;
	}
}

/*ipad*/
@media screen and (max-width: 1100px) and (min-width: 700px) {
	/*PAGE 1*/
	.acha {
		width: 600px !important;
	}
}

@media (max-width: 320px) {
	.main-content-inner-container {
		height: 300px;
	}
}
/* 
@media only screen and (max-width: 720px) {
	.main-content-inner-container {
		min-height: 145vh !important;
	}
} */
